<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  <title> Megalith 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur  </title>
  <meta name="title" content="Megalith 2023 IIT Kharagpur">
  <meta name="description" content="Megalith 2023 | The Annual Tech-fest of Civil Engineering Department | IIT Kharagpur">
  <meta content="Megalith 2023, Megalith, Megalith IIT Kharagpur, Megalith 2023 IIT Kharagpur, Megalith IIT Kharagpur 2023" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="../home/l.png" />
  <link rel="icon" href="../home/l.png">
    <link rel="stylesheet" href="../registerpage/register.css" />
    <!-- <link rel="stylesheet" href="buttons.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
<style>
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*{font-family: 'MedievalSharp', cursive;}
      .activeupdated{
        background-color: white;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
                     }
      #navbarSupportedContent ul li .activeupdated{
       color:blue;
      }
      @media(max-width:992px){
        .activeupdated{
          border-radius: 30px;
        }
}
.navbar-mainbg{ background-color:rgb(0,0,0,0.87);}
    </style>

  </head>

  <body>
    <video id="backgroundvideo" autoplay muted loop>
      <source src="../video/tajmahal/TajMahal.mp4" type="video/mp4" />
    </video>

    <nav style="position: absolute; padding: 0%" class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="/">
        <img style="width: 24.7%; padding: 0%; margin-left: -2px; margin-top: -4px" src="../home/l.png" alt="logo"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i style="font-size: 29px" class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <!-- nav nav-tabs add this in the above classes of ul -->
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item ">
            <a class="nav-link"  href="./home.html">Home</a
            >
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./event.html"
              >Events</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./workshop.html"
              >Workshop</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./sponsors.html"
              >Sponsors</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./team.html" 
              >Team</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./theme.html"
              >Theme</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link activeupdated"  href="./login.html" 
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contactus.html"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- ==================================================================================== -->

    <div class="container" id="container">
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome</h1>
            <p>Already have an account !</p>
            <button style="border-radius: 3vw" class="ghost" id="signIn">
              Sign In
            </button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello,Friend</h1>
            <p>Enter your details and start journey with us</p>
            <button style="border-radius: 3vw" class="ghost" id="signUp">
              Sign Up
            </button>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="form-container sign-up-container">
        <form action="/signup" class="signupform" method="POST">
          <h1 class="createaccount">Create Account</h1>
          <div class="requiredinput">
            <input id="disablenamefield" type="text" name="name" placeholder="Name" autocomplete="off" required disabled/>
          <input type="email" class="email" id="email" name="username" placeholder="Email" required disabled/>
          <input id="disablepassfield" type="password" name="password" placeholder="Password" required  minlength="6" disabled/>
          <input id="disablemobfield" type="text" name="mobileNumber" class="input" placeholder="Mobile Number" maxlength="13" minlength="6" disabled/>
          <input id="disablecollfield" type="text" name="college" class="input" placeholder="College " disabled/>
          <select style="margin-top: 1.33vw" name="country" class="countries input" id="countrylist" disabled>
            <option value="" selected>Select Country</option>
          </select>
          <select  style="margin-top: 1.33vw" name="state" class="states input" id="statelist" disabled>
            <option value="" selected>Select State</option>
          </select>
          <select style="margin-top: 1.33vw" name="city" class="cities input" id="citylist" disabled>
            <option value="" selected>Select City</option>
          </select>
          <select id="genderlist" style="margin-top: 1.33vw" name="gender" class="input" placeholder="Select your Gender" disabled>
            <option value="none" selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">other</option>
          </select>
          <input id="disableyear" type="text" name="yearOfStudy" class="input" placeholder="Specify your Years of Study" disabled/>
          <div  class="reference">Referenced by Megalith Intern ?</div>
          <div  class="buttonmipid" style="margin-left: 8vw;">
            <label class="labelyes" style="display: flex"><input style="margin-right: 0.5vw" type="radio" name="havemipid" disabled/><div class="radiobutton">Yes</div></label>
            <label style="display: flex"><input style="margin-right: 0.5vw" type="radio" name="havemipid" value="No" disabled/><div class="radiobutton">No</div></label></div>
          <input style="display: none" type="text" id="mipid" name="mipid" placeholder="MIP Id" disabled/>
          </div>
          <input type="text" id="enterotp" name="otpentered" class="input " placeholder="Enter OTP" disabled/>
          <button style="border-radius: 3vw"  disabled>Get OTP</button>
          <button style="border-radius: 3vw"  disabled>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/login" class="signinform" method="POST">
          <h1 class="signinoption">Sign In</h1>
          <span>or use your account</span>
          <input type="text" name="username" placeholder="Email" disabled/>
          <input type="password" name="password" placeholder="Password" disabled/>
          <button style="border-radius: 3vw; font-size: 1.5rem">Sign In</button>
          <a class="forgotpassword" href="./forgot-password.html">Forgot Password</a>
        </form>
      </div>
    </div>
    <script>
      $('#getotp').on("click", function(){
        let valid = true;
        $('[required]').each(function() {
          if ($(this).is(':invalid') || !$(this).val()) valid = false;
        })
        if (!valid) alert("error please fill all fields!");
        if(valid){
          var email1 = "";
          document.getElementById("getotp").style.display = "none";
        document.getElementById("enterotp").style.display = "block";
        document.getElementById("signupbutton").style.display = "block";
        document.getElementById("disablenamefield").style.display = "none";
        document.getElementById("disablepassfield").style.display = "none";
        document.getElementById("disablemobfield").style.display = "none";
        document.getElementById("disablecollfield").style.display = "none";
        document.getElementById("statelist").style.display = "none";
        document.getElementById("countrylist").style.display = "none";
        document.getElementById("citylist").style.display = "none";
        document.getElementById("genderlist").style.display = "none";
        document.getElementById("disableyear").style.display = "none";
        document.getElementById("disableintern").style.display = "none";
        document.getElementById("disablebutton").style.display = "none";
        document.getElementById("mipid").style.display = "none";
        document.getElementById("disableintern").style.display = "none";
        document.getElementById("disableintern").style.display = "none";
        document.getElementById("email").style.display = "none";
        email1 = document.getElementById("email").value;
        console.log(email1);
        fetch("/getotp", {
          method: "POST",
          body: JSON.stringify({
            test: "123",
            email: email1,
          }),
          headers: {
            "Content-type": "application/json",
          },
        })
        .then(result => result.json())
        .then(data => {
            if(data.success){
              alert("Email already exist");
              window.location.href = "/signup"
            }else{
              alert("The OTP has been successfully sent to your registered email ID. Kindly check your inbox or spam folder");
            }
         })
        }
      })
    </script>
    <script>
      var email1 = "";
      function generateotp() {
        // data.success = false;
        
      }
    </script>

    <!-- ============================================================================================ -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="../registerpage/register.js"></script>
  </body>
</html>
