<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      Megalith 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur
    </title>
    <meta name="title" content="Megalith 2023 IIT Kharagpur" />
    <meta
      name="description"
      content="Megalith 2023 | The Annual Tech-fest of Civil Engineering Department | IIT Kharagpur"
    />
    <meta
      content="Megalith 2023, Megalith, Megalith IIT Kharagpur, Megalith 2023 IIT Kharagpur, Megalith IIT Kharagpur 2023"
      name="keywords"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../home/l.png" />
    <link rel="icon" href="../home/l.png" />
    <link rel="stylesheet" href="../workshop1/work1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Merienda:wght@600&family=Kalam&display=swap"
      rel="stylesheet"
    />
    <style>
      .activeupdated {
        background-color: white;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
      }
      #navbarSupportedContent ul li .activeupdated {
        color: blue;
      }
      @media (max-width: 992px) {
        .activeupdated {
          border-radius: 30px;
        }
      }
      .navbar-mainbg {
        background-color: rgb(0, 0, 0, 0.87);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="section">
        <div class="scroll1">
          <h1 class="infoh1">INFORMATION</h1>
          <p class="infop">
            Civil Center will conduct a workshop on STRUCTURAL MODELING AND
STRUCTURAL DRAWING on various structures.
● Highlights:
● Objective and Importance of the subject
● Modeling in STAAD.Pro and AutoCAD. A session on Tekla will be
conducted at the end(for 30 minutes).
● Quiz (conducted by the company)
● Q&A
● The participants should maintain Discipline and Decorum during the
workshop. This should be written in the guidelines for participants.

          </p>
        </div>
      </div>
    </div>
  </body>
</html>
